@page
@model FribergCarRentalsRazorPages.Pages.Bookings.CustomerCreateModel

@{
    ViewData["Title"] = "CustomerCreate";
}

<h1 class="center">Create a new booking</h1>

<div class="div-center">
    <div class="div-form-background">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*  <label asp-for="Booking.CostPerDay" class="control-label"></label> *@
                <input type="hidden" asp-for="Booking.CostPerDay" class="form-control" />
                <span asp-validation-for="Booking.CostPerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*  <label asp-for="Booking.TotalCost" class="control-label"></label> *@
                <input type="hidden" asp-for="Booking.TotalCost" class="form-control" />
                <span asp-validation-for="Booking.TotalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*   <label asp-for="Booking.totalDays" class="control-label"></label> *@
                <input type="hidden" asp-for="Booking.totalDays" class="form-control" />
                <span asp-validation-for="Booking.totalDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.StartDate" class="form-label"></label>
                <input type="Date" asp-for="Booking.StartDate" class="form-input" />
                <span asp-validation-for="Booking.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.EndDate" class="form-label"></label>
                <input type="Date" asp-for="Booking.EndDate" class="form-input" />
                <span asp-validation-for="Booking.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="div-route-links">
    <a asp-page="/Customers/LoggedIn" class="route-links">-Back to account overview-</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
