<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FribergCarRentalsRazorPages</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FribergCarRentalsRazorPages.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <img class="side_image" src="/Images/FireSideLeft.webp" alt="SideFire" width="400" height="150">
        <img class="image" src="/Images/friberg_logo.webp" alt="Logo" width="200" height="250">
        <img class="side_image" src="/Images/FireSideRight.webp" alt="SideFire" width="400" height="150">
        <nav class="navbar @* navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 *@">
            <div class="container">
            
                <div class="navbar@* -collapse collapse d-sm-inline-flex justify-content-between *@">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">-Home-</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Customers/HomeCreate">-Register new customer account-</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Customers/Login">-Customer Login-</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Admins/Login">-Admin Login-</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FribergCarRentalsRazorPages - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>