@page
@model FribergCarRentalsRazorPages.Pages.Customers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="center">Register a new customer account</h1>

<div class="div-center">
    <div class="div-form-background">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label asp-for="Customer.FirstName" class="form-label"></label>
            <input asp-for="Customer.FirstName" class="form-input" placeholder="Your firstname here..." />
            <span asp-validation-for="Customer.FirstName" class="text-danger"></span>


            <label asp-for="Customer.LastName" class="form-label"></label>
            <input asp-for="Customer.LastName" class="form-input" placeholder="Your lastname here..." />
            <span asp-validation-for="Customer.LastName" class="text-danger"></span>

            <label asp-for="Customer.Email" class="form-label"></label>
            <input asp-for="Customer.Email" class="form-input" placeholder="Your Email here..." />
            <span asp-validation-for="Customer.Email" class="text-danger"></span>

            <label asp-for="Customer.Password" class="form-label"></label>
            <input asp-for="Customer.Password" class="form-input" placeholder="Choose a password here..." />
            <span asp-validation-for="Customer.Password" class="text-danger"></span>


            <input type="submit" value="Register new account" class="input-positive" />
        </form>
    </div>
</div>
<div class="div-route-links">
    <a asp-page="/Index" class="route-links">-Back to homepage-</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
