@page
@model FribergCarRentalsRazorPages.Pages.Customers.LoggedInModel

@{
    ViewData["Title"] = "LoggedIn";
}

<h1 class="center">Welcome @Html.DisplayFor(model => model.Customer.FirstName) @Html.DisplayFor(model => model.Customer.LastName)!</h1>
<br />


<div id="wrapper" class=" div-center">
    <div id="div1" class="div-account-background">
        <h2>Account information</h2>
        <p>Here you find all the information about the account. You can edit and save changes to the account. For example change your password.</p>
        <br />
        <br />
        <a asp-page="/Customers/LoggedInDetails" class="route-links" asp-route-id="@Model.Customer.Id">-Account information-</a>
    </div>
    <div id="div1" class="div-account-background">
        <h2>Book a car</h2>
        <p>Here you can book a car. This will list all the cars thats available in this moment. It will not include cars that are already booked.</p>
        <br />
        <br />
        <a asp-page="/Cars/BookableCars" class="route-links">-List cars-</a>
    </div>
    <div id="div1" class="div-account-background">
        <h2>Your bookings</h2>
        <p>Here you can see all the informations about your bookings. You can see details about the bookings and even edit them. For example change the date.</p>
        <br />
        <a asp-page="/Bookings/LoggedInBookings" class="route-links">-List bookings-</a>
    </div>
</div>
