@page
@model FribergCarRentalsRazorPages.Pages.Cars.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="center">Add a new car to the fleet</h1>

<div class="div-center">
    <div class="div-form-background">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label asp-for="Car.Brand" class="form-label"></label>
            <input asp-for="Car.Brand" class="form-input" placeholder="Car brand here..." />
            <span asp-validation-for="Car.Brand" class="text-danger"></span>

            <label asp-for="Car.Model" class="form-label"></label>
            <input asp-for="Car.Model" class="form-input" placeholder="Car model here..." />
            <span asp-validation-for="Car.Model" class="text-danger"></span>

            <label asp-for="Car.RentPricePerDay" class="form-label"></label>
            <input asp-for="Car.RentPricePerDay" class="form-input" placeholder="Rent price per day here..." />
            <span asp-validation-for="Car.RentPricePerDay" class="text-danger"></span>

            <label asp-for="Car.Image" class="form-label"></label>
            <input asp-for="Car.Image" class="form-input" placeholder="URL to image here..." />
            <span asp-validation-for="Car.Image" class="text-danger"></span>

            <label class="form-check-label">
                @Html.DisplayNameFor(model => model.Car.Bookable) <input class="form-check-input" asp-for="Car.Bookable" />
            </label>

            <input type="submit" value="Add new car" class="input-positive" />
        </form>
    </div>
    <div class="div-route-links">
        <a asp-page="./Index" class="route-links">Back to list</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
