@page
@model FribergCarRentalsRazorPages.Pages.Admins.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="center">Edit account information</h1>

<div class="div-center">
    <div class="div-form-background">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Admin.Id" />

            <label asp-for="Admin.FirstName" class="form-label"></label>
            <input asp-for="Admin.FirstName" class="form-input" />
            <span asp-validation-for="Admin.FirstName" class="text-danger"></span>


            <label asp-for="Admin.LastName" class="form-label"></label>
            <input asp-for="Admin.LastName" class="form-input" />
            <span asp-validation-for="Admin.LastName" class="text-danger"></span>


            <label asp-for="Admin.Email" class="form-label"></label>
            <input asp-for="Admin.Email" class="form-input" />
            <span asp-validation-for="Admin.Email" class="text-danger"></span>


            <label asp-for="Admin.Password" class="form-label"></label>
            <input asp-for="Admin.Password" class="form-input" />
            <span asp-validation-for="Admin.Password" class="text-danger"></span>
         
          
            <input type="submit" value="Save" class="btn btn-primary" />
            
        </form>
    </div>
</div>

<div class="div-route-links">
    <a asp-page="/Admins/LoggedIn" class="route-links">-Back to account overview-</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
